<!DOCTYPE html>
<html>
    <head>
        <title>Error del servidor</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <%- include("header") %>

        <main>
            <h1>404 - Página no encontrada</h1>

            <p>Se ha producido el siguiente error: <%= mensaje %></p>
            <p>Pila de ejecución:</p>

            <pre><%= pila %></pre>
        </main>
    </body>
</html>