<!DOCTYPE html>
<html>
    <head>
        <title>Error del servidor</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <%- include("header") %>
            <h1>404 - Page "<%=url%>" not found</h1>
            <div class="errorImg"><img src="/img/jonh.gif" alt="pagenotfound"></div>

            <div class="request">
                <a href="/friends" class="button">Go back</a>
            </div>
        </main>
    </body>
</html>