<!DOCTYPE html>
<html>
    <head>
        <title>Error del servidor</title>
        <meta charset="UTF-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <%- include("header") %>

        <main>
            <h1>404 - Page not found</h1>
            
            <div class="request">
                <a href="/friends" class="button">Go back</a>
            </div>
        </main>
    </body>
</html>