<header>
    <% if(typeof userEmail !== 'undefined') { %>
        <% console.log(userEmail) %>
        <div class="headerleft">
            <div class="title">FaceBluff</div>
            <div class="links"><a href="/friends">Friends</a></div>
            <div class="links"><a href="/questions">Questions</a></div>
        </div>
        <div class="usermenu">
            <div class="points">
                <img src="/userImage" alt="user" class="userpic">
                <b><%= userPoints %></b>
            </div>
            <div class="user">
                <div class="account"><img src="/img/login.png" alt="login" class="accimg"><a href="/profile">Profile</a></div>
                <div class="account"><img src="/img/signin.png" alt="signin" class="accimg"><a href="/logout">Log out</a></div>
            </div>
        </div>
    <% } else { %>
        <header>
                <div class="title">FaceBluff</div>
                <div class="user">
                    <div class="account"><img src="img/login.png" alt="login" class="accimg"><a href="/login">Log in</a></div>
                    <div class="account"><img src="img/signin.png" alt="signin" class="accimg"><a href="/signin">Sign in</a></div>
                </div>
            </header>
    <% } %>

</header>