<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    <body>
        <header>
            <div class="headerleft">
                <div class="title">FaceBluff</div>
                <div class="links"><a href="#">Friends</a></div>
                <div class="links"><a href="#">Questions</a></div>
            </div>
            <div class="usermenu">
                <div class="points">
                    <img src="img/smile.jpg" alt="user" class="userpic">
                    <b>50 pts</b>
                </div>
                <div class="user">
                    <div class="account"><img src="img/login.png" alt="login" class="accimg"><a href="#">Profile</a></div>
                    <div class="account"><img src="img/signin.png" alt="signin" class="accimg"><a href="#">Log out</a></div>
                </div>
            </div>
        </header>
        <main>
            <h1>Your profile</h1>
            <div class="emptycontainer">
                <div class="profilecontainer">
                    <img class="profilepic" src="img/smile.jpg"/>
                    <div class="profile">
                        <h2> <%= user.name %> </h2>
                        <div> <%= user.age %> </div>
                        <div> <%= user.gender %> </div>
                        <div> <%= user.points %></div>
                    </div>
                </div>
                <div class="profilebutton"><a href="#" class="button">Update profile</a></div>
            </div>
        </main>
    </body>
</html>