<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Question</title>
    </head>
<body>
    <%- include("header") %>
    
    <main>
        <h1> <%= question.text %></h1>
        <div class="emptycontainer">
            <% if(user.answer) { %>
                <p>You didn't answer this question yet.</p>
            <% } else { %>
                <div class="answerbutton"> 
                    <a href="#" class="button secondarybutton">Answer this question</a> 
                </div>
            <% } %>

            <p>The following friends have answered the question:</p>

            <% friendsAnswers.forEach(answer => { %>
                <div class="request">
                    <div class="requestleft">
                        <img class="requestpic" src="<%= answer.img %>"/>
                        <div class="friendname"><%= answer.name %></div>
                    </div>

                    <div class="requestright">
                        <% if(answer.correct == null) { %>
                            <a href="#" class="button">Guess</a>
                        <% } else if(answer.correct == 1) {%>
                            <div class="sf success">Success</div>
                        <% } else { %>
                            <div class="sf fail">Fail</div>
                        <% } %>
                    </div>
                </div>

            <% }); %>
            
        </div>
    </main>
</body>
</html>