<!DOCTYPE html>
<html lang="ES-ES">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Sign in</title>
</head>
<body>
    <%- include("header") %>

    <main>
        <h1>New User</h1>
        <div class="container">
            <form action="/createUser" method="POST" class="form" enctype="multipart/form-data">
                <div class="formElem">Mail <input type="text" name="mail" class="input"></div>
                <div class="formElem">Password <input type="password" name="password" class="input"></div>
                <div class="formElem">Name <input type="text" name="name" class="input"></div>
                <div class="formElem">Gender 
                    <div class="input">
                        <div class="radius"><input type="radio" name="gender" class="" value="M"> Male</div>
                        <div class="radius"><input type="radio" name="gender" class="" value="F"> Female</div>
                        <div class="radius"><input type="radio" name="gender" class="" value="O"> Other</div>
                    </div>
                </div>
                <div class="formElem">Birthday <input type="date" name="birthday" class="input"></div>
                <div class="formElem">Profile picture <input type="file" name="picture" class="input"></div>
                
                <input class="button" type="submit" value="Sign In">
            </form>
            <% if(typeof errMsg !== 'undefined'){ %>
                <p class="error"><%=errMsg%></p>
            <% } %>
        </div>
    </main>
</body>
</html>