<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    
    <body>
        <%- include("header") %>

        <main>
            <div class="emptycontainer">
                <h1>The user doesn't exist.</h1>
            </div>
        </main>
    </body>
</html>